BasedOnStyle: Google
AccessModifierOffset: 0
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: DontAlign
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakStringLiterals: false
ColumnLimit: 120
IndentAccessModifiers: true
InsertTrailingCommas: Wrapped
LambdaBodyIndentation: Signature
NamespaceIndentation: All
TabWidth: 2